<head>
    <meta name="globalsign-domain-verification" content="HtuxAdfAkg_UH35wjkpxrVtjHs1FRjXqL_V81YIv2t" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#138e69">
    <title>Quick Intro to the Payment Request API &larr; Alligator.io</title>
    <link rel='dns-prefetch' href='https://alligator.io'>
    
    <link rel="alternate" type="application/rss+xml" title="Alligator.io Feed" href="/feed.xml">
    <link rel="canonical" href="https://www.digitalocean.com/community/tutorials/js-payment-request-api-intro">
    <link rel="manifest" href="/assets/manifest.json">
    <meta name="description"
      content="In this post you&#39;ll see the basic usage for collecting payment information through the Payment Request API." />
    <link rel="icon" sizes="192x192" href="/assets/img/touch-icon-192x192.png">
    <link rel="icon" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon-180x180-precomposed.png">
    <meta property="og:title" content="Quick Intro to the Payment Request API" />
    <meta property="og:type" content="article" />
    <meta property="og:description"
      content="In this post you&#39;ll see the basic usage for collecting payment information through the Payment Request API." />
    <meta property="og:url" content="https://alligator.io/js/payment-request-api-intro/" />
    <meta property="og:image" content="https://alligator.io/images/js/payment-request-api.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@alligatorio">
    <meta name="twitter:title" content="Quick Intro to the Payment Request API">
    <meta name="twitter:description"
      content="In this post you&#39;ll see the basic usage for collecting payment information through the Payment Request API.">
    <meta name="twitter:image" content="https://alligator.io/images/js/payment-request-api.png">
    <link rel="stylesheet" href="assets/css/aligattor.css">
    <link rel="stylesheet" href="assets/css/prism.css">
  </head>