<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="dark">
    <div class="progress"></div>
     <div id="navigation">
    <nav class="top-bar" role="navigation">
      <ul class="title-area">
        <li class="name">
          <div class="medium-down"><a href="#"><img
                src="/assets/img/fotoperfil.png"
                width="47" height="47" alt="Foto de perfil Diego Barbosa Barros da Costa"></a></div>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#" title="Navigation menu"> &bull;&bull;&bull; </a></li>
      </ul>
      <section class="top-bar-section">
    
        <ul class="left">
          <li class="large-up"> <a href="www.diegocosta.dev"> 
            <img src="/assets/img/fotoperfil.png"
                width="80" height="80" alt="Foto de perfil Diego Barbosa Barros da Costa" class="alligator-logo"> </a></li>
          <li><a href="/" class="css">Portfólio</a></li>
          <li><a href="/js/" class="javascript">Blog</a></li>
          <li><a href="/vuejs/" class="vuejs">Sobre mim</a></li>
          <li class="has-dropdown"> <a title="extra menu" aria-hidden="true" href="#">↓</a>
            <ul class="dropdown">
              <li><a href="/django/"> Django </a></li>
              <li><a href="/python/"> Python </a></li>
              <li><a href="/javascript/"> JavaScript </a></li>
            </ul>
          </li>
         
          <li class="has-dropdown"> <a href="#" class="switch-theme" aria-label="theme switcher"
              title="theme switcher"></a>
            <ul class="dropdown">
              <li><a href="#" class="toggle-light">Light</a></li>
              <li><a href="#" class="toggle-dark dark">Dark</a></li>
              <li><a href="#" class="toggle-solarized solarized">Solarized</a></li>
              <li><a href="#" class="toggle-solarized-dark solarized-dark">Solarized Dark</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div> 
    <div class="algolia__initial-content js-algolia__initial-content">
        <!-- content about Diego Barbosa Barros da Costa -->
        {{ content }}
    </div>
    {% include footer.html %}
    
    <link rel='preload' as='style' property='stylesheet' onload='this.onload=null;this.rel="stylesheet"'
        href='https://d33wubrfki0l68.cloudfront.net/css/ed717dd04ecfbfcfa24ca6b9d11689e762c80446/assets/css/c.css' />
    <noscript>
        <link rel='stylesheet' property='stylesheet'
            href='https://d33wubrfki0l68.cloudfront.net/css/ed717dd04ecfbfcfa24ca6b9d11689e762c80446/assets/css/c.css' />
    </noscript>
    {% include scripts.html %}
</body>

</html>